---
- name: Kubespray wrapper - clone, install deps, run cluster deploy
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    kubespray_repo: https://github.com/kubernetes-sigs/kubespray.git
    kubespray_branch: "{{ kubespray_branch }}"
    kubespray_dir: ./kubespray
    inventory_file: inventory/mycluster/hosts.yaml
  tasks:
    - name: Ensure Git is installed (control host)
      ansible.builtin.package:
        name: git
        state: present

    - name: Clone Kubespray repository
      ansible.builtin.git:
        repo: "{{ kubespray_repo }}"
        dest: "{{ kubespray_dir }}"
        version: "{{ kubespray_branch }}"
        force: yes

    - name: Install Python deps for Kubespray (control host)
      ansible.builtin.pip:
        requirements: "{{ kubespray_dir }}/requirements.txt"
        executable: pip3

    - name: Copy generated inventory to Kubespray inventory folder
      ansible.builtin.copy:
        src: "{{ inventory_file }}"
        dest: "{{ kubespray_dir }}/inventory/mycluster/hosts.yaml"
        force: yes

    - name: Run Kubespray cluster deploy
      ansible.builtin.command: >
        ansible-playbook -i {{ kubespray_dir }}/inventory/mycluster/hosts.yaml {{ kubespray_dir }}/cluster.yml -b -v
      environment:
        ANSIBLE_CONFIG: "{{ playbook_dir }}/../ansible.cfg"
      args:
        chdir: "{{ kubespray_dir }}"
